.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.photoThumbnailGrid {
  margin: 5px;

  .imgBorder {
    position: relative;

    img {
      width: 100%;
      vertical-align: bottom;
    }

    .starBtn {
      position: absolute;
      right: 0;
      bottom: 0;
      color: white;
      opacity: 0;
      transition: opacity 0.3s;

      &Selected {
        @extend .starBtn;
        opacity: 0.7;
      }
    }

    .commentBtn {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      opacity: 0;
      transition: opacity 0.3s;

      svg {
        font-size: 1.2rem;
      }

      &Filled {
        @extend .commentBtn;
        opacity: 0.7;
      }
    }
  }

  .imgBorder:hover {
    cursor: pointer;

    .starBtn {
      opacity: 0.7;
    }
    .commentBtn {
      opacity: 0.7;
    }
  }
}

.toolbarIcon {
  color: white;
  opacity: 0.8;
}

.fixedBtn {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
