.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.photoThumbnailGrid {
  margin: 5px;
  //aspect-ratio: 1/1;

  .imgBorder {
    position: relative;
    aspect-ratio: 1/1;
    border: 1px solid rgb(165, 165, 165);
    display: flex;
    align-items: center;
    padding: 5px;

    img {
      width: 100%;
      vertical-align: bottom;
      object-fit: contain;
      aspect-ratio: 1/1;
    }

    .starBtn {
      position: absolute;
      right: 0;
      bottom: 0;
      color: white;
      opacity: 0;
      transition: opacity 0.3s;

      &Selected {
        @extend .starBtn;
        opacity: 0.7;
      }
    }

    .commentBtn {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      opacity: 0;
      transition: opacity 0.3s;

      svg {
        font-size: 1.2rem;
      }

      &Filled {
        @extend .commentBtn;
        opacity: 0.7;
      }
    }
  }

  .imgBorder:hover {
    cursor: pointer;

    .starBtn {
      opacity: 0.7;
    }
    .commentBtn {
      opacity: 0.7;
    }
  }
}
