.dropzoneError {
  display: flex;
  justify-content: center;

  p {
    font-size: 12px;
    color: #f44336;
  }
}

.customFileInput {
  color: transparent;
  position: absolute;
  padding: 6px 16px;
}
.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}

.fileInputBtn {
  //padding: 0 !important;
  position: relative;
}

.slider {
  max-width: 500px;
}
